@charset "UTF-8";
/* css reset */
body,ol,ul,h1,h2,h3,h4,h5,h6,div,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;word-wrap:break-word;word-break:break-all;}
ol,ul,textarea{padding:0;}
body{min-width:1200px;font:14px/1.5 "微软雅黑","Arial Narrow",HELVETICA,sans-serif;color:#333;background:#fff;}
a{text-decoration:none;cursor:pointer;}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
input, textarea{resize:none;font-size:14px;}
input:focus, textarea:focus{outline:none;}

// 新版Chrome中已无效
input:-webkit-autofill{transition:background 0s 99999s;}
 
/* public */
// 清除浮动（用在父元素上）
.clearfloat:after{display:block;content:"";height:0;visibility:hidden;clear:both;}
.clearfloat{zoom:1}

@mixin transform($var: scale(0)) { -ms-transform: $var; -moz-transform: $var; -webkit-transform: $var; transform: $var; }
@mixin transition($var: all 0.5s) { -moz-transition: $var; -webkit-transition: $var; transition: $var; }
@mixin inline-block() { display: inline-block; *display: inline; *zoom: 1; }
@mixin opacity($num: 0) { filter:alpha(opacity=$num*100); opacity: $num; }
@mixin textoverflow() { display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
@mixin textoverflow-multi($line: 2) { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: $line; overflow: hidden; }

$color0:#000;
$color3:#333;
$color6:#666;
$color9:#999;
$colore:#eee;

/* main */
// 默认分页
.pagination { zoom:1;
	li { float: left; margin-right: 10px; background: $colore;
		a, span { display: block; padding: 0 10px; min-width: 20px; height: 40px; line-height: 40px; text-align: center; color: $color6; }
		&:hover, &.active{ color: #fff; background: $color0;
			a, span { color: #fff; }
		}
		&.disabled { color: $color6; background: $colore; cursor: not-allowed; 
			a, span { color: $color6; }
		}
	}
	&:after{ display:block; clear:both; content:""; visibility: hidden; height:0;}
}

// 版权信息
.m-copyright { text-align: center; color: $color0; 
	a { color: $color0; 
		&:hover { color: red; }
	}
}

// 富文本内容部分限制
.rich-text {
	img { display: block!important; max-width: 100%!important; height: auto!important; }
	pre { white-space: pre-wrap!important; }
}

// 返回顶部
.backtop { display: none; z-index: 100; position: fixed; right: 50px; bottom: 10%; width: 50px; height: 50px; text-align: center; line-height: 50px; border: 1px solid #eee; cursor: pointer; }