@charset "UTF-8";
/* css reset */
body,ol,ul,h1,h2,h3,h4,h5,h6,div,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;word-wrap:break-word;word-break:break-all;}
ol,ul,textarea{padding:0;}
body{font:14px/1.5 "微软雅黑","Arial Narrow",HELVETICA,sans-serif;color:#333;background:#fff;}
a{text-decoration:none;cursor:pointer;}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
input, textarea{resize:none;font-size:14px;}
input:focus, textarea:focus{outline:none;}

/* public */
.clearfloat:after{display:block;content:"";height:0;visibility:hidden;clear:both;}
.clearfloat{zoom:1}

@mixin transform($var: scale(0)) { -ms-transform: $var; -moz-transform: $var; -webkit-transform: $var; transform: $var; }
@mixin transition($var: all 0.5s) { -moz-transition: $var; -webkit-transition: $var; transition: $var; }
@mixin inline-block() { display: inline-block; *display: inline; *zoom: 1; }
@mixin opacity($num: 0) { filter:alpha(opacity=$num*100); opacity: $num; }
@mixin textoverflow() { display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
@mixin textoverflow-multi($line: 2) { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: $line; overflow: hidden; }

$color_theme: #3994f0;
$color_btm: #eee;


/* ====== main ====== */
// 页头
.m-page-header { flex-shrink: 0;
	.container { display: flex; align-items: center; margin: 0 auto; padding: 0 30px; max-width: 1200px; height: 80px; }
	.logo { display: flex; align-items: center; margin-right: auto; }
	.name { font-size: 20px; font-weight: bold; }
	.a { margin-left: 20px; color: #666; font-size: 18px; transition: 0.3s;
		&:hover { color: $color_theme; }
		&:first-child { margin-left: 0; }
	}
}

/* ====== 首页 ====== */
.m-home-container { display: flex; flex-direction: column; min-height: 100vh; }
.m-home-body { display: flex; flex: auto; flex-direction: column; justify-content: center; }
.m-home-footer { flex-shrink: 0; padding: 20px; }
// 二维码
.m-home-code { margin-bottom: 50px;
	.img { display: block; margin: 0 auto; width: 140px; height: auto; }
	.tips { text-align: center; color: #666; }
}
// 用户须知
.m-home-actions { display: flex; justify-content: center; align-items: center; margin-bottom: 50px;
	.a { margin: 0 10px; padding: 0 20px; line-height: 40px; font-size: 16px; color: $color_theme; border: 1px solid $color_theme; border-radius: 20px; transition: 0.2s;
		&.fill { color: #fff; background: $color_theme; }
		&:hover { opacity: 0.85; }
	}
}
// 主题
.m-home-theme { margin-bottom: 50px; text-align: center;
	.title { font-size: 40px; font-weight: bold; }
	.p { margin-top: 20px; font-size: 20px; }
}
// 主营
.m-home-service { margin-bottom: 50px; text-align: center;
	.title { font-size: 18px; }
	.item-group { display: flex; justify-content: center; }
	.item { margin: 20px; line-height: 20px; font-size: 16px; color: #666; }
	.icon { float: left; margin-right: 8px; width: auto; height: 20px; }
}
// 悬赏
.m-home-reward { margin-bottom: 50px; text-align: center; }
// 联系
.m-home-contact { text-align: center; color: #999; transition: 0.3s;
	&:hover { color: #666; }
}


/* ====== 案列 ====== */
// 标题
.m-case-title { padding: 100px 0; font-size: 40px; font-weight: bold; text-align: center; }


/* ====== 媒体查询 ====== */
@media screen and (max-width: 750px) {
  .m-page-header { margin-bottom: 20px; height: auto;
		.container { flex-direction: column; justify-content: center; }
		.logo { margin-right: 0; height: 80px; }
	}
	.m-home-theme {
		.title { font-size: 30px; }
	}
}